body {
  font-family: "PT Sans Narrow", "Arial", serif;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.index-content h2,
.bread-title-shell h1 {
  font-size: 30px;
  line-height: 42px;
}

.product-item-text h2 {
  font-size: 14px;
  line-height: 18px;
}

.product-inside-info h2 {
  font-size: 24px;
  line-height: 30px;
}
